<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.bailihui.shop.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.bailihui.shop.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="bailihui-shop" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="bailihui-shop">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.bailihui.shop.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.bailihui.shop.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="bailihui:tb_admin">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbAdmin" />
                  <option name="moduleName" value="bailihui-shop" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bailihui:tb_category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbCategory" />
                  <option name="moduleName" value="bailihui-shop" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bailihui:tb_goods">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbGoods" />
                  <option name="moduleName" value="bailihui-shop" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bailihui:tb_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbOrder" />
                  <option name="moduleName" value="bailihui-shop" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bailihui:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="bailihui-shop" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useCommonMapper" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>